[Unit]
Description=Telegram Bot Service
After=multi-user.target


[Service]
Type=simple
WorkingDirectory=/root/Telegram.Yandex.Bot
Environment=PYTHONPATH=/root/Telegram.Yandex.Bot/.venv
ExecStart=/root/Telegram.Yandex.Bot/.venv/bin/python /root/Telegram.Yandex.Bot/main.py


[Install]
WantedBy=multi-user.target
